{% extends 'base.html' %}

{% block title %}All Animals {% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="sidebar">
    <nav>
        <a href="/">Pseudomon<span>Go</span></a>
        <ul style="padding-left: 0rem">
            <li><a href="/">Dashboard</a></li>
            <li><a href="{% url 'battle' %}">Battle</a></li>
            <li><a href="{% url 'map' %}">Explore</a></li>
            <li><a href="{% url 'view' %}">Animals</a></li>
            <li><a href="{% url 'upload' %}">Upload</a></li>
            <li><a href="{% url 'remove' %}">Delete</a></li>
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </nav>
</div>

<div class="container">
    {% if all_animals %}
    <ul>
        {% for animal in all_animals %}
        <li><a class="text-secondary" href="{% url 'animals' animal.id %}">{{ animal.animal_name }}: </a><img src="{{ MEDIA_URL }}{{ animal.photo_path }}"></li>
        {% endfor %}
    </ul>
    {% else %} 
        <p> No animals in the database. </p>
        <a class="nav-link" href="{% url 'upload' %}">Upload an animal</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}