{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div>
    <!-- This is where the dashboard will be -->
    <main id="dashboard">
      <header>
          <div class="logo">Pseudomon<span>Go</span></div>
      </header>
      <div class="nav-btn">Menu</div>
      <div>

          <div class="sidebar">
              <nav>
                  <a href="/">Pseudomon<span>Go</span></a>
                  <ul style="padding-left: 0rem">
                      <li class="active"><a href="/">Dashboard</a></li>
                      <li><a href="{% url 'battle' %}">Battle</a></li>
                      <li><a href="{% url 'map' %}">Explore</a></li>
                      <li><a href="{% url 'view' %}">Animals</a></li>
                      <li><a href="{% url 'upload' %}">Upload</a></li>
                      <li><a href="{% url 'remove' %}">Delete</a></li>
                      <li><a href="{% url 'profile' %}">Profile</a></li>
                      <li><a href="{% url 'logout' %}">Logout</a></li>
                  </ul>
              </nav>
          </div>

          <div class="main-content">
              <h1>Dashboard</h1>
              <h4>Hi, {{ user.username }}. This is an overview of your Pseudomon stats! 😎</h4>
              <div class="panel-wrapper">
                  <div class="panel-head">
                      News
                  </div>
                  <div class="panel-body">
                      PseudomonGo team announcement: The project is now in the prod environment and users will be able to use the site very soon!
                      You can start rating animals <a href="{% url 'animals' %}">HERE</a>
                  </div>
              </div>
              <div class="panel-wrapper">
                  <div class="panel-head">
                      Your Pseudomon
                  </div>
                  <div class="panel-pseudomon container">
                    <div class="row">
                    {% if player_animals %}
                    {% for animal in player_animals %}
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ MEDIA_URL }}{{ animal.photo_path }}" alt="{{ animal.animal_name }}">
                        <p>{{ animal.animal_name }}</p>
                    </div>
                    
                    {% endfor %}
                    {% else %} 
                    <p> No animals in the database. </p>
                    {% endif %}
                    </div>
                  </div>
              </div>
              <div class="panel-wrapper">
                  <div class="panel-head">
                      The Team Members
                  </div>
                  <div class="panel-body">
                    🎉🎉🎉Thanks To: Bryan, Ayo, Erin, Zhi, and Sage for working on this project this semester.
                      And congrats to the seniors in this team for graduating this semester and pulling through for their CMSC 447 class. 🎉🎉🎉
                  </div>
              </div>
          </div>
      </div>  
    </main> 
</div>
{% else %}
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">PseudomonGo</a>
      
    </div>
</nav>
<div class="text-center" >
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
    |
    <a href="{% url 'signup' %}">Sign Up</a>
    |
    <a href="{% url 'password_reset' %}">Reset Password</a>
</div>
{% endif %}
{% endblock %}