<html>
    <head>
        <meta charset="UTF-8">
        <title>Upload Animal</title>
    </head>
    <body>
        <h1>Animal Uploader</h1>
        <form enctype="multipart/form-data" method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <input type="submit" value="Upload"/>
        </form>
        <br><br>
        {% if last_animal %}
        <ul>
            {% for animal in last_animal %}
            <b>Animal Name: </b> {{ animal.name }} <br>
            <b>Animal Description: </b> {{ animal.animal_description }} <br>
            <img src="{{ MEDIA_URL }}{{ animal.image_file }}"> <br>
            {% endfor %}
        </ul>
        {% else %} 
            <p> No animals in the database. </p>
        {% endif %}
        <br><br>
        </p>

    </body>
</html>