{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'PseudomonGo/css/dash-position.css' %}" />

<!DOCTYPE html>
<html>
    <head>
        <title>I'm a map!</title>
        <meta name="description" content="Our first page">
        <meta name="keywords" content="html tutorial template">
    </head>
    <body>
        <div class="sidebar">
            <nav>
                <a href="#">Pseudomon<span>Go</span></a>
                <ul>
                    <li class="active"><a href="{% url 'dash' %}">Dashboard</a></li>
                    <li><a href="#">Battle</a></li>
                    <li><a href="{% url 'map' %}">Explore</a></li>
                    <li><a href="#">Inventory</a></li>
                    <li><a href="#">Friends</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </nav>
        </div>
    
    </body>
    <!-- calls google api -->
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=" {GOOGLE_API_KEY}    
    ></script>
    <!-- creates the map box with a marker at umbc -->
        <script type="text/javascript">
            var map;       
            function initialize() {
                const umbc = {lat: 39.25428972139465, lng: -76.71001703158903};
                const map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: umbc,
                });
    
                const marker = new google.maps.Marker({
                    position: umbc,
                    map: map, 
                });
    
            }

            google.maps.event.addDomListener(window, 'load', initialize)
            </script> 
        <script type="text/javascript">
            function loadmaps(){
                initialize();
            }
        </script>

    <div class="col-md-6">
        <div id="map" style="width:87%; height:100%; background-color:#CCC; float: right;"></div>
    </div>
</html>