{% extends 'base.html' %}

{% block title %}Animal Remove{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="sidebar">
    <nav>
        <a href="/">Pseudomon<span>Go</span></a>
        <ul style="padding-left: 0rem">
            <li><a href="/">Dashboard</a></li>
            <li><a href="{% url 'battle' %}">Battle</a></li>
            <li><a href="{% url 'map' %}">Explore</a></li>
            <li><a href="{% url 'view' %}">Inventory</a></li>
            <li class="active"><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </nav>
</div>
<div class="container">
        <h1>Remove Animal</h1>
        <form enctype="multipart/form-data" method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <h2>Careful, all animals with the same name will be deleted!</h2>
            <label for="animal_name">Enter Animal Name to Remove:</label>
            <input type="text" name="animal_name" value="">
            <input type="submit" name="Remove" value="Confirm"/>     
        </form>
        </p>  
</div>
{% endif %}
{% endblock %}