<html>
        {% if player_animals %}
        <b>Here are all of the animals you own:</b>
        <ul>
            {% for animal in player_animals %}
            <b>Animal Name: </b> {{ animal.animal_name }} <br>
            <b>Animal Description: </b> {{ animal.animal_description }} <br>
            <b>Location Sighted: </b> {{ animal.animal_location }} <br>
            
            <img src="{{ MEDIA_URL }}{{ animal.photo_path }}"> <br>
            {% endfor %}
        </ul>
        {% else %} 
            <b>You have no animals bro!</b> 
            <p> No animals in the database. </p>
        {% endif %}
        <br><br>
        </p>
    </body>
</html>